:root {
    --primary-color: #ff9d5c;
}

.navbar {
    background-color: var(--primary-color);
}

.navbarContent {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
}

.logoWrap {
  position: relative;
  width: 3rem;
  height: 3rem;
}

.logo {
    object-fit: contain;
}

.navLinks {
    display: flex;
    gap: 1rem;
    padding: 0 0 0 1rem;
    align-items: center;
}


.navLink {
    padding: 0px;
    border-radius: 1000px;
    transition: all .25s linear .05s;
}

.activeLink {
    background-color: rgba($color: white, $alpha: .2);
    padding: 10px 12px;
    border-radius: 1000px;
}